body { padding-top: 100px; }
nav.navbar.navbar-default {
    height: 5px !important;
    margin:0;
}

nav.navbar.navbar-default {
  width: 100%;
}

nav {
}

.navbar-default {
}
.myProgress {
  width: 100%;
  background-color: #2caae2;
  border-radius: 1.8px;
  border-style: solid;
  border-width: 1px;
}
.theBar {
  height: 10px;
  border-radius: 1.8px;
  border-style: solid;
  border-width: 1px;
  margin: 3px;
  background-color: #f05d23;
}

.article-list .item {
    padding-top: 0;
    min-height: 0;
  }

#htmlcss {
    width: 97%;
}
#Javascript {
    width: 70%;
}
#Ruby {
    width: 30%;
}
#sass {
    width: 80%;
}
#Wordpress {
    width: 25%;
}
#wireframing {
    width: 25%;
}
#Wordpress {
    width: 50%;
}
#Bootstrap {
  width: 80%;
}
#Git {
  width: 65%;
}
#a11y {
  width: 15%;
}

.badge {
  margin: 0;
}

.blue{
  color: #2caae2;
}

.btn {
  background-color: #2caae2;
  color: white;
}

.cardTwo {
}

.myGrid {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat( auto-fit, minmax(130px, 1fr) );
  grid-gap: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.btn .btn-info {
  margin: 5px;
}

.card {
  height:
    max-width: 400px
}

.card-orange {
    background: linear-gradient(to bottom, white, #f05d23);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-orange .container {
    padding: 2px 16px;
}


.myProgress {
  margin:0 auto;
  width: 150px;
  background-color: #2caae2;
  border-radius: 1.8px;
  border-style: solid;
  border-width: 1px;
}

.logoBox {
  text-align: center;
}

#scad{
  margin:0 auto;
  max-width: 400px;
  margin-top: 10px;
}

.box {
  height: 190px !important;

}

.features-boxed .item .box {
  margin-bottom: 0px;
    padding: 15px !important;
}

.features-boxed .item .icon{
  margin: 3px;
}


.github-widget {
  margin:2px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 400px !important;
  height: 100% !important;
}

.intro{
  margin-top:50px !important;
}

.box {
  height: 350px;
}

.img-responsive {
  display: inline !important;
}

.description {
  height: 100px;
  max-width: 400px;
  margin: 0 auto;
}

.btn.btn-default {
  margin:0;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
}

.description {
  font-size: 29px;
}

.treehouse_logo {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 0;
  margin-top: 0;
}

.green {
  color:#6CC574;
}

.white {
  color:white;
}
